# Исключение виртуального окружения
venv/

# Исключение файлов настроек IDE (например, для PyCharm)
.idea/

# Исключение файлов миграции Django
/migrations/

# Исключение файлов локальных баз данных SQLite (если используется SQLite)
db.sqlite3

# Исключение файлов настроек и журналов Django
*.pyc
__pycache__/

# Исключение файлов секретных ключей и настроек окружения
.env
*.env

# Исключение файлов логов и временных файлов
*.log
*.swp
*.swo
*.tmp

# Исключение файлов для виртуального окружения poetry
.poetry/
